#map {
    height: 400px;
    width: 50%;
    margin: 10px auto 50px auto;
    display: block;
}

.foot {
    background-color: #E07F00;
    background-image: url(../img/noise.webp);
    color: #dad6d6;
  }