@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.index-body{
    background-color: #51783F;
    overflow-x: hidden;
}

.bg-secondary{
    background-color: #51783F;
}

.description{
    font-family: 'Lobster', cursive;
    text-align: center;
}

.reviews{
    text-align: center;
}

.review{
    background-color: #D7D6D6;
}