

.reviews {
  text-align: center;
  color: #E07F00;
}

.review {
  background-color: #DAD6D6;
  background-image: url(../img/noise.webp);
  color: #E07F00;
}

.background {
  background-image: url("../img/PizzaBackgroundFlipped.png");
  background-size: 100%;
  background-position: center;
}

.images {
  width: 50%;
  height: 50%;
}


