.navbar{
    background-color: #2C302E;
    background-image: url(../img/noise.webp);
}

.nav-link{
    color: #E07F00;
}

.navbar-brand{
    color: #E07F00;
}

.nav-item{
    color: #E07F00;
}

.disabled{
    color: #E07F00;
}
