.pizza-info {
    margin-bottom: 20px;
  }
  
  .pizza-content {
    display: flex;
    align-items: center;
  }
  
  .pizza-content p {
    flex: 1;
  }
  
  .pizza-content button {
    margin-left: 10px;
  }

  .cart-background{
    background-color: #DAD6D6;
    padding: 20px;
    background-image: url(../img/noise.png);
    color: black;
}

